/word_embedding/
/.tmp.drivedownload/
/.tmp.drivedownload/
/.idea/
/corpus/outsourced_for_tagging/
/corpus/tagged/
/corpus/desktop.ini
/corpus/backup/
/corpus/
/Sentiment Analysis/desktop.ini
/Sentiment Analysis/tutorial/
/Sentiment Analysis/Kappa_Calculate/
/Sentiment Analysis/SLSTM/.idea/
/Sentiment Analysis/Sentiment_Tagger_Recreation/Logistic_Regression/
*.ini
/Sentiment Analysis/CNN RNN/experiments/
/Sentiment Analysis/CNN RNN/backup
