

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">SENCAT</h1>
    <p class="lead font-weight-normal">API for Sinhala Sentiment Categorization</p>
    <a class="btn btn-outline-secondary" routerLink="/api">Try It Now!</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="my-3">
        <h2 class="display-5">Need word level sentiment?</h2>
        <p class="lead">Try our Sinhala sentiment lexicon for Python</p>
      </div>
      <a class="btn btn-success" type="button" href="https://github.com/BrainstormersLK/helasentilex" target="_blank">helasentilex GitHub</a>
    </div>
    <div class="col">
      <div class="my-3">
        <h2 class="display-5">Explore novel sentiment analysis techniques</h2>
        <p class="lead">Learn about our models and read our publications</p>
      </div>
      <a class="btn btn-success" type="button" href="https://github.com/BrainstormersLK/helasentilex" target="_blank">Models</a>
    </div>
  </div>
</div>
